<p id="notice"><%= notice %></p>

<h1>Menu "<%= @menu.name %>"</h1>

<table>
  <thead>
  <tr>
    <th>Categiry</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
  </tr>
  </thead>

  <tbody>
    <% @categories.each do |category|%>
      <tr>
        <td><%= Category.find(category.category_id).name %></td>
        <td colspan="3"></td>
      </tr>
      <% @menu.dishes.where("category_id = ?", category.category_id).each do |dish| %>
        <tr>
          <td></td>
          <td><%= dish.name %></td>
          <td><%= dish.description %></td>
          <td><%= dish.price %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', dishes_menu_path(@menu) %> |
<%= link_to 'Back', :back %>
