<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>

<p id="notice"><%= notice %></p>

<p><%= button_to 'Clean cart', @cart, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<p><%= button_to 'Cart', @cart, method: :get %></p>

<h1>Please, select dishes: </h1>

<table>
  <thead>
  <tr>
    <th>Category</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th colspan="2"></th>
    <th>Count</th>
    <th>Sum</th>
  </tr>
  </thead>

  <tbody>
      <% @categories.each do |category|%>
        <td><%= Category.find(category.category_id).name %></td>
        <td colspan="6"></td>
        <% @dishes.where("category_id = ?", category.category_id).each do |dish| %>
          <tr>
            <td></td>
            <td><%= dish.name %></td>
            <td><%= dish.description %></td>
            <td><%= dish.price %></td>
            <td><%= button_to " + ", order_add_to_cart_path(dish_id: dish.id), remote: true %></td>
            <td><%= button_to " - ", order_delete_from_cart_path(dish_id: dish.id), disabled: is_in_cart?(dish.id), remote: true, class: 'del-btn' %></td>
            <td><div id = <%= 'dish' + dish.id.to_s  + '_count' %>><%= dish_count(dish.id) %></div></td>
            <td><div id = <%= 'dish' + dish.id.to_s  + '_sum' %>><%= dish_sum(dish) %></div></td>
          </tr>
        <% end %>
      <% end %>
  </tbody>
</table>


