<p id="notice"><%= notice %></p>

<h1>Please, select dishes: </h1>

<table>
  <thead>
  <tr>
    <th>Category</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
    <%= form_tag(controller: 'order', action: 'index') do %>
      <% @categories.each do |category|%>
        <td><%= Category.find(category.category_id).name %></td>
        <td colspan="6"></td>
        <% @dishes.where("category_id = ?", category.category_id).each do |dish| %>
          <tr>
            <td></td>
            <td><%= dish.name %></td>
            <td><%= dish.description %></td>
            <td><%= dish.price %></td>
            <th colspan="3"></th>
          </tr>
        <% end %>
      <% end %>
      <%= submit_tag("Order") %>
    <% end %>
  </tbody>
</table>


