<!DOCTYPE html>
<html>
<head>
  <title>FoodOrder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="alert"><%= alert %></p>

  <% if user_signed_in? %>
    <table border="1">
      <tbody>
        <tr>
          <td><%= link_to ' Menus ', menus_path %></td>
          <td><%= link_to ' Categiries ', categories_path %></td>
          <td><%= link_to ' Dishes ', dishes_path %></td>
          <td><%= link_to ' Profile ', edit_user_registration_path %></td>
          <td><%= link_to ' Sign out ', destroy_user_session_path, method: :delete %></dh>
        </tr>
      </tbody>
    </table>
  <div><%= current_user.email %></div>
  <% end %>


<%= yield %>

</body>
</html>
